body{
	background:url(../images/bg3.jpg) no-repeat;
	background-size:cover;
	color:#000;
	overflow:hidden;
	min-height:800px;
	height:auto !important;
	
}

#wrapper{
	position:fixed;
	height:100%;
	overflow: auto;
	width:100%;
}

.header{
	height:5vh;
	width:100%;
	position:relative;
	background-color:transparent;
	position:absolute;
}

.content{
	width:auto;
	height:auto !important;
}

.footer{
	height:auto;
	width:100%;
	background-color:transparent;
	position:absolute;
	bottom:0;
}

/*****SIGN IN/UP FORM******/
#form-bg{
	height:60vh;
	width: 33.3%;
	background:url(../images/bg3.jpg) ;
	background-size: auto 210%;
	background-position: center 45%;
	overflow:hidden;
	border-radius: 15%;
	opacity: 1;
	-webkit-filter: blur(20px);
  	filter: blur(20px);
	box-shadow: 1px 1px 12px #555;
	z-index: -1;
	position:absolute;
	left:33.3%;
	min-height:400px;
	min-width:250px;
	top:20vh;
	border:#3F6 20px thick;
	display:none;
}

#form-bg-sign-up
{
	height:110vh;
	width: 40%;
	background:url(../images/bg3.jpg) ;
	background-size: auto 210%;
	background-position: center 45%;
	overflow:hidden;
	margin-bottom:5%;
	border-radius: 15%;
	opacity: 1;
	-webkit-filter: blur(20px);
  	filter: blur(20px);
	box-shadow: 1px 1px 12px #555;
	z-index: -1;
	position:absolute;
	left:30%;
	min-height:600px;
	min-width:490px;
	border:#3F6 20px thick;
	display:none;
}

#sign-in-form{
	position:absolute;
	left:38.3%;
	top:25vh;
	width:25%;
	display:none;
}

#sign-up-form{
	position:absolute;
	left:30%;
	display:none;
	width:40%;
}

#password-form{
	position:absolute;
	left:38.3%;
	top:25vh;
	width:27.3%;
	display:none;
}

.css-form{
}

.css-form h4{
	padding-left: 15px;
	color: white;
	opacity:.8;
}

#password-f{
	padding-left:15px;
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
}
#fieldset {
	border:none;
}

#fieldset-two-col {
	width:500px;
	border:none;
	display:inline-table;
}
#css-form input
{
	width: 90%;
	min-width:30px;
	display:block;
	padding: 10px;
	margin-top: 10px;
	background: #e9eaea;
	border: 1px solid #FFF;
	
}
#two-col
{
	width: 100%;
	min-width:90%;
	display:inline-block;
	margin-top: 10px;
}
#two-col input{
	float:left;
	width:40%;
	margin-right:5%;
}
#two-col input[type=text].css-textArea
{		
}
#adress
{
	width: 100%;
	min-width:90%;
	display:inline-block;
	margin-top: 10px;
}
#adress input{
	float:left;
	margin-right:2%;
}
#adress input[type=text].css-textArea-street
{	
	width:60%;	
}
#adress input[type=number].css-textArea-numb
{	
	width:8%;	
}
#birthday
{
	width: 100%;
	min-width:90%;
	display:inline-block;
	margin-top: 40px;
}
#birthday input{
	float:left;
	margin-right:2%;
}
#birthday input[type=text].css-textArea-field
{	
	width:5%;	
}

input[type=text].css-textArea
{
	padding: 10px;
	background: #e9eaea;
	border: 1px solid #e9eaea;
	color: #6d7273;
	position:relative;

}
input[type=text].css-textArea-pw
{
	le
	width: 90% !important;
	padding: 10px;
	background: #e9eaea;
	border: 1px solid #e9eaea;
	color: #6d7273;
	position:relative;
}

input[type=button].css-button
{
	width: 20%;
	background: #d2d2d3 !important;
	border: 1px solid #d2d2d3;
	color:#3a3b3c;
	cursor:pointer;
	display:block;
}

input[type=button].css-button a
{
	text-decoration:none !important;
}

input[type=button].css-button-pw
{
	width:125px !important;
	float:left;
	background: #d2d2d3 !important;
	border: 1px solid #d2d2d3;
	color:#3a3b3c;
	cursor:pointer;
	margin-right:10px !important;
	display:block;
}
input[type=button].css-button-pw2
{
	width:125px !important;
	float:left;
	background: #3a3b3c !important;
	border: 1px solid #d2d2d3 !important;
	color:white;
	cursor:pointer;
	margin-right:10px !important;
}

#message 
{
	padding-left:15px;
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
	color:#F63;
}
.warning 
{
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
}
.warning a{
	color: #FFF;
	text-decoration:none;
}
.warning a:hover{
	text-decoration:underline;
	cursor:pointer;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:2px; 
	margin:-1px; 
	padding:0;
	border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	color:#FFF;
	opacity:.8;
	cursor:pointer;
	
}
input[type=checkbox].css-checkbox + label.css-label a {
	cursor:pointer;
	color:#FFF;
	text-decoration:none;
	opacity:1;
}
input[type=checkbox].css-checkbox + label.css-label a:hover {
	text-decoration:underline;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}					
.css-label{ 
	background-image:url(../images/mac-style.png) 
}
.css-label2{ 
	float:left;
	color: #fff;
	opacity:.8;
	margin-right: 30px;
	padding-top:10px;
}

.select-style {
    margin: 0;
    border: 1px solid #ccc;
    width: 130px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url(../images/arrowdown.gif) no-repeat 90% 50%;
}

.select-style select {
    padding: 10px;
    width: 120%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.select-style2 {
	float:left;
    margin: 0;
    border: 1px solid #ccc;
    width: 80px;
	margin-left: 20px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url(../images/arrowdown.gif) no-repeat 90% 50%;
}

.select-style2 select {
    padding: 10px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style2 select:focus {
    outline: none;
}

.menu li {
    padding:00;
	display:block;
	line-height:1.7em;/*rounding errors with Mozilla*/
	font-weight:800;
	width:8.9em;
	text-align:center; /* centrage horizontal */
}

.menu a {
     font-family:Minion Pro;
     color:#AFAFAF;
     font-size:22px;
     text-decoration:none;
     margin:0px 10px 0px 10px;
}

.menu a:hover {color:white;}



