body{
	background:url(../images/bg3.jpg) no-repeat;
	background-size:cover;
	color:#000;
	height:auto !important;
	
}

#wrapper{
	width:100%;
	min-height:100vh;
}

.header{
	margin-bottom: 50px;
	width:100%;
	position:relative;
	background-color:transparent;
}

.header h1{
	padding-top:50px;
	padding-bottom:5px;
	font-size:60px;
	color:#FFF;
	text-align:center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.43);
	letter-spacing: 10px;
}

.header h2{
	font-size: 20px;
	color:white;
	text-align:center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.43);
	letter-spacing: 15px;
}

hr {
	width: 15%;
    border: 1px solid rgba(255, 255, 255, 0.49);
}

.content{
	width: 25%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 25px;
	position:relative;
	min-height:100%;
}

.content-two-col{
	width: 40%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 25px;
	position:relative;
}

.footer{
	height:25vh;
	width:100%;
	background-color:transparent;
	background-color:#6bb4a1;
	marging-top:100px;
}

/*****SIGN IN/UP FORM******/
#form-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background:url(../images/bg3.jpg) ;
	background-size: auto 290%;
	background-position: center 45%;
	overflow:hidden;
	border-radius: 15%;
	opacity: 1;
	-webkit-filter: blur(20px);
  	filter: blur(20px);
	box-shadow: 1px 1px 12px #555;
	z-index: -1;
	border:#3F6 20px thick;
	display:none;
}
#form-bg-password{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background:url(../images/bg3.jpg) ;
	background-size: auto 210%;
	background-position: center 45%;
	overflow:hidden;
	border-radius: 15%;
	opacity: 1;
	-webkit-filter: blur(20px);
  	filter: blur(20px);
	box-shadow: 1px 1px 12px #555;
	z-index: -1;
	border:#3F6 20px thick;
	display:none;
}

#form-bg-sign-up
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background:url(../images/bg3.jpg) ;
	background-size: auto 150%;
	background-position: center 45%;
	overflow:hidden;
	margin-bottom:5%;
	border-radius: 15%;
	opacity: 1;
	-webkit-filter: blur(20px);
  	filter: blur(20px);
	box-shadow: 1px 1px 12px #555;
	z-index: -1;
	border:#3F6 20px thick;
	display:none;
}

#sign-in-form{
	
	display:none;
}

#sign-up-form{
	display:none;
}

#password-form{
	display:none;
}

.css-form{
}

.css-form h4{
	padding-left: 15px;
	color: white;
	opacity:.8;
}

#password-f{
	padding-left:15px;
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
}
#fieldset {
	border:none;
}

#fieldset-two-col {
	border:none;
	display:inline-table;
}
#css-form input
{
	width: 90%;
	min-width:30px;
	display:block;
	padding: 10px;
	margin-top: 10px;
	background: #e9eaea;
	border: 1px solid #FFF;
	
}
#two-col
{
	width: 100%;
	min-width:90%;
	display:inline-block;
	margin-top: 10px;
}
#two-col input{
	float:left;
	width:40%;
	margin-right:5%;
}
#two-col input[type=text].css-textArea
{		
}
#adress
{
	width: 100%;
	min-width:90%;
	display:inline-block;
	margin-top: 10px;
}
#adress input{
	float:left;
	margin-right:2%;
}
#adress input[type=text].css-textArea-street
{	
	width:60%;	
}
#adress input[type=number].css-textArea-numb
{	
	width:8%;	
}
#birthday
{
	width: 100%;
	min-width:90%;
	display:inline-block;
	margin-top: 40px;
}
#birthday input{
	float:left;
	margin-right:2%;
}
#birthday input[type=text].css-textArea-field
{	
	width:5%;	
}

input[type=text].css-textArea
{
	padding: 10px;
	background: #e9eaea;
	border: 1px solid #e9eaea;
	color: #6d7273;
	position:relative;

}
input[type=text].css-textArea-pw
{
	le
	width: 90% !important;
	padding: 10px;
	background: #e9eaea;
	border: 1px solid #e9eaea;
	color: #6d7273;
	position:relative;
}

input[type=button].css-button
{
	width: 20%;
	background: #d2d2d3 !important;
	border: 1px solid #d2d2d3;
	color:#3a3b3c;
	cursor:pointer;
	display:block;
}

input[type=button].css-button a
{
	text-decoration:none !important;
}

input[type=button].css-button-pw
{
	width:125px !important;
	float:left;
	background: #d2d2d3 !important;
	border: 1px solid #d2d2d3;
	color:#3a3b3c;
	cursor:pointer;
	margin-right:10px !important;
	display:block;
}
input[type=button].css-button-pw2
{
	width:125px !important;
	float:left;
	background: #3a3b3c !important;
	border: 1px solid #d2d2d3 !important;
	color:white;
	cursor:pointer;
	margin-right:10px !important;
}

#message 
{
	padding-left:15px;
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
	color:#F63;
}

#message2 
{
	padding-left:15px;
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
	color:#F63;
}

.warning 
{
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
}
.warning a{
	color: #FFF;
	text-decoration:none;
}
.warning a:hover{
	text-decoration:underline;
	cursor:pointer;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:2px; 
	margin:-1px; 
	padding:0;
	border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	color:#FFF;
	opacity:.8;
	cursor:pointer;
	
}
input[type=checkbox].css-checkbox + label.css-label a {
	cursor:pointer;
	color:#FFF;
	text-decoration:none;
	opacity:1;
}
input[type=checkbox].css-checkbox + label.css-label a:hover {
	text-decoration:underline;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}					
.css-label{ 
	background-image:url(../images/mac-style.png) 
}
.css-label2{ 
	float:left;
	color: #fff;
	opacity:.8;
	margin-right: 30px;
	padding-top:10px;
}

.select-style {
    margin: 0;
    border: 1px solid #ccc;
    width: 130px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url(../images/arrowdown.gif) no-repeat 90% 50%;
}

.select-style select {
    padding: 10px;
    width: 120%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.select-style2 {
	float:left;
    margin: 0;
    border: 1px solid #ccc;
    width: 80px;
	margin-left: 20px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url(../images/arrowdown.gif) no-repeat 90% 50%;
}

.select-style2 select {
    padding: 10px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style2 select:focus {
    outline: none;
}