body{
	background:url(../images/bg.jpg) no-repeat;
	background-size:cover;
	color:#000;
	overflow:hidden;
	min-height:800px;
	
}

#wrapper{
	height:100%;
	width:100%;
}

.header{
	height:5vh;
	width:100%;
	position:relative;
	background-color:transparent;
	position:absolute;
}

.content{
	width:100%;
	background-color:transparent;
}

.footer{
	height:10vh;
	width:100%;
	background-color:transparent;
	position:absolute;
	bottom:0;
}

/*****SIGN IN/UP FORM******/
#form-sign-in{
	height:60vh;
	width: 30%;
	background:url(../images/bg.jpg) ;
	background-size: auto 210%;
	background-position: center 45%;
	overflow:hidden;
	margin-bottom:50%;
	border-radius: 5%;
	opacity: 1;
	-webkit-filter: blur(20px);
  	filter: blur(20px);
	box-shadow: 1px 1px 12px #555;
	z-index: -1;
	position:absolute;
	left:35%;
	min-width:300px;
	top:20vh;
	border:#3F6 20px thick;
}

#form-sign-up{
	width: 30%;
	margin: auto !important;
	background: #C30;
	display: none;
}

#form-password{
	width: 30%;
	margin: auto !important;
	background: #C30;
	display: none;
}

.css-form{
	width: 80%;
	position:absolute;
	left:41%;
	top:25vh;
	min-width: 60px !important;
	max-height: 600px !important;
	height: 80%;
}

.css-form h4{
	padding-left: 15px;
	color: white;
	opacity:.8;
}

#password-f{
	color:white;
	opacity:.8;
}
#fieldset {
	border:none;
	position:relative;
}
#css-form input
{
	width: 20%;
	display:block;
	padding: 10px;
	margin-top: 10px;
	background: #e9eaea;
	border: 1px solid #FFF;
	
}
input[type=text].css-textArea
{
	padding: 10px;
	background: #e9eaea;
	border: 1px solid #e9eaea;
	color: #6d7273;
	position:relative;

}
input[type=text].css-textArea-pw
{
	width: 230px !important;
	padding: 10px;
	background: #e9eaea;
	border: 1px solid #e9eaea;
	color: #6d7273;
	position:relative;
}

input[type=button].css-button
{
	width: 20%;
	background: #d2d2d3 !important;
	border: 1px solid #d2d2d3;
	color:#3a3b3c;
	cursor:pointer;
	display:block;
}

input[type=button].css-button a
{
	text-decoration:none !important;
}

input[type=button].css-button-pw
{
	width:125px !important;
	float:left;
	background: #d2d2d3 !important;
	border: 1px solid #d2d2d3;
	color:#3a3b3c;
	cursor:pointer;
	margin-right:10px !important;
	display:block;
}
input[type=button].css-button-pw2
{
	width:125px !important;
	float:left;
	background: #3a3b3c !important;
	border: 1px solid #d2d2d3 !important;
	color:white;
	cursor:pointer;
	margin-right:10px !important;
}

#message 
{
	padding-left:15px;
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
	color:#F63;
}
.warning 
{
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
}
.warning a{
	color: #FFF;
	text-decoration:none;
}
.warning a:hover{
	text-decoration:underline;
	cursor:pointer;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	color:#FFF;
	opacity:.8;
	cursor:pointer;
	
}
input[type=checkbox].css-checkbox + label.css-label a {
	cursor:pointer;
	color:#FFF;
	text-decoration:none;
	opacity:1;
}
input[type=checkbox].css-checkbox + label.css-label a:hover {
	text-decoration:underline;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}					
.css-label{ 
	background-image:url(../images/mac-style.png) 
}
